name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Install rsync
        run:  sudo apt-get update && sudo apt-get install -y rsync

      - name: Setup SSH key
        run: |
            mkdir -p ~/.ssh
            echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
            chmod 600 ~/.ssh/id_ed25519

      - name: Deploy to front_0
        run: |
          rsync -avz --delete out/ ${{ secrets.SSH_USER }}@${{ secrets.SSH_FRONT_0 }}:/var/www/to-do-list/

      - name: Deploy to front_0
        run: |
          rsync -avz --delete out/ ${{ secrets.SSH_USER }}@${{ secrets.SSH_FRONT_1 }}:/var/www/to-do-list/